<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Редагувати Замовлення</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Редагувати Замовлення</h1>

      <form
        action="#"
        th:action="@{/orders/update/{id}(id=${order.orderId})}"
        th:object="${order}"
        method="post"
        class="form-container"
      >
        <input type="hidden" th:field="*{orderId}" />

        <div th:if="${#fields.hasErrors('visitor')}" class="error">
          <span th:errors="*{visitor}">ПОмилка</span>
        </div>
        <label for="visitorId">Відвідувач:</label>
        <select id="visitor_id" th:field="*{visitor.visitorId}" required>
          <option value="" disabled selected>Вибір відвідувача</option>
          <option
            th:each="visitor : ${visitors}"
            th:value="${visitor.visitorId}"
            th:text="${visitor.name + ' ' + visitor.surname + ' (ID: ' + visitor.visitorId + ')'}"
          ></option>
        </select>

        <div th:if="${#fields.hasErrors('orderDate')}" class="error">
          <span th:errors="*{orderDate}">Помилка</span>
        </div>
        <label for="orderDate">Помилка:</label>
        <input
          type="date"
          id="orderDate"
          th:field="*{orderDate}"
          required
          max="[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]"
        />

        <button type="submit" class="button">Зберегти</button>
      </form>
      <a href="/orders" class="button back">Повернутися</a>
    </div>
  </body>
</html>
